<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full px-10 py-3 flex justify-between bg-red-500 text-white">
        <h3 class="text-lg font-bold">Pinterest</h3>
        <div class="space-x-4">
            <a href="/profile" class="hover:underline">Profile</a>
            <a href="/feed" class="hover:underline">Feed</a>
            <a href="/logout" id="logout-btn" class="hover:underline">Logout</a>
        </div>
    </div>
    <script>
        document.getElementById('logout-btn').addEventListener('click', (event) => {
            var message = confirm('Are you sure you want to logout');
            if (!message) {
                event.preventDefault();
            }
        });
    </script>
</body>

</html>